language: generic
sudo: required
serivces:
  - docker

before_install:
  - docker build -t amitgg/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true  amitgg/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-1"
  app:  "frontend"
  env:  "Frontend-env"
  bucket_name:  "elasticbeanstalk-ap-northeast-1-393977265641"
  bucket_path:  "frontend"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"